<div class="container">
    <button class="btn btn-primary" routerLink="add-product">Product Add</button>
    <div class="row">
        <div class="col-md-3 mt-4" *ngFor=" let product of products let index= index">
            <div class="card shadow" style="width: 18rem;">
                <img src="{{product.imgUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{product.name}} </h5>
                    <span class="card-text">Unit Price: {{product.unitPrice}}</span>
                    <p class="card-text">Total Stock: {{product.stock}}</p>
                    <a class="btn btn-primary" (click)="addBasket(product)">Add Basket</a>
                </div>
            </div>
        </div>
    </div>
</div>