<h1 class="ms-5" style="text-align: center; color: red;">Count Component</h1>
<div class="row">
    <div class="col-md-6">
        <div class="m-5">
            <h3>Input Output</h3>
            <h5 class="mt-3" style="color:rgb(255, 0, 0)">COUNT:{{count}}</h5>
            <h5 class="mt-3" style="color:rgb(0, 102, 255)">MESSAGE: {{message}}</h5>
        </div>
    </div>
    <div class="col-md-6">
        <div class="m-5">
            <h3>Service</h3>
            <h5 class="mt-3" style="color:rgb(255, 0, 0)">COUNT:{{countService.count}}</h5>
            <h5 class="mt-3" style="color:rgb(0, 102, 255)">MESSAGE: {{countService.message}}</h5>
        </div>
    </div>
</div>