<h3 class="d-flex justify-content-end mt-5 mx-4">Count Component</h3>
<hr>
<div class="container d-flex justify-content-center">
    <div class="col-md-5 mx-4">
        <table class="table table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Input Output</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COUNT: {{count}}</td>
                </tr>
                <tr>
                    <td>MESSAGE: {{message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5 mx-4">
        <table class="table table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Service</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>COUNT: {{countService.count}}</td>
                </tr>
                <tr>
                    <td>MESSAGE: {{countService.message}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>