<body>
    <h1 class="ms-5" style="text-align: center; color: red;">Count Component</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="m-5">
                <h2>Input Output</h2>
                <h4 class="mt-3" style="color:rgb(255, 0, 0)">COUNT: {{count}}</h4>
                <h4 class="mt-3" style="color:rgb(0, 102, 255)">MESSAGE: {{message}}</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="m-5">
                <h2>Service</h2>
                <h4 class="mt-3" style="color:rgb(255, 0, 0)">COUNT: {{countService.count}}</h4>
                <h4 class="mt-3" style="color:rgb(0, 102, 255)">MESSAGE: {{countService.message}}</h4>
            </div>
        </div>
    </div>
</body>