<!-- <div class="container">
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" name="" id="" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" name="" id="" class="form-control">
    </div>
</div> -->

<section class="vh-100" style="background-color: #eee;">
    <div class="row d-flex justify-content-center align-items-center  ">
        <div class="col-lg-12 col-xl-11 mt-5">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body ">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add New Product</p>

                            <form class="mx-1 mx-md-4">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">Name:</label>
                                        <input type="text" id="form3Example1c" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">Unit Price:</label>
                                        <input type="text" id="form3Example1c" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">Stock:</label>
                                        <input type="text" id="form3Example1c" class="form-control" />
                                    </div>
                                </div>


                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="button" class="btn btn-primary btn-lg">Add Product</button>
                                </div>

                            </form>

                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                class="img-fluid" alt="Sample image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>